{% extends 'website/base.html' %}
{% load static %}


{% block content %}
    <div class="container register-section">
        <form method="post" action="">
            <h1 class="h-main">Login</h1>
            {{ msg|safe }}
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Adres email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="navbar-button btn">Zaloguj</button>
        </form>
    </div>
{% endblock %}