{% extends 'website/base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <h1 class="display-1">Login</h1>
        <form action="" method="post">
            {% csrf_token %}
          <div class="mb-3">
              <label for="id_old_password" class="form-label">Stare Hasło</label>
              <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
           </div>
          <div class="mb-3">
            <label for="id_new_password1" class="form-label">Nowe Hasło</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
          </div>
        <div class="mb-3">
           <label for="id_new_password2">Potwierdź nowe hasło:</label>
           <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </div>
          <button type="submit" class="btn btn-primary" >Zmień Hasło</button>
        </form>
{% endblock %}