
<footer class="row row-cols-4 py-4 bg-gray" style="color: white; margin-right: 0px!important;" >
    <div class="col mx-auto" >
    <h2 class ="fs-1 text-center">THALOS </br> CINEMA</h2>
    </div>

    <div class="col">
      <h5>NASZE KINA</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">Rzeszów|Kraków|Warszawa</li>
        <li class="nav-item mb-2">Gdańsk|łódź|Wrocław</li>
        <li class="nav-item mb-2">Lublin|Kraków|Warszawa</li>
      </ul>
    </div>

    <div class="col">
      <h5>Kontakt</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">Adres: Dąbrowskiego 85,</li>
        <li class="nav-item mb-2">35-001 Rzeszów</li>
        <li class="nav-item mb-2">Telefon: 123 123 123</li>
        <li class="nav-item mb-2">Mail: stud.prz.edu.pl</li>
      </ul>
    </div>

    <div class="col">
      <h5>COPYRIGHY</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">Michal Wrona</li>
        <li class="nav-item mb-2">Kacper Urban</li>
        <li class="nav-item mb-2">Karol Trawiński</li>
        <li class="nav-item mb-2">Karol Wierzbiński</li>
        <li class="nav-item mb-2">Krzysztof Tofilski</li>
        <li class="nav-item mb-2">Paweł Władyka</li>
        <li class="nav-item mb-2">Wojciech Węgrzyn</li>
      </ul>
    </div>
</footer>


