<nav class="footer" style="background-color: #303030">

	<div class="title" style="margin-top: 4%; margin-left: 7%; font-size: 50px">
	THALOS </br> CINEMA
	</div>

	<div class="footertile1">
        <h3>NASZE KINA</h3>
        <div>
            Rzeszów|Kraków|Warszawa|Gdańsk|łódź|Wrocław|Lublin</br>
            Rzeszów|Kraków|Warszawa|Gdańsk|łódź|Wrocław|Lublin</br>
            Rzeszów|Kraków|Warszawa|Gdańsk|łódź|Wrocław|Lublin

        </div>
	</div>

	<div class="footertile1">
        <h3>Kontakt</h3>
        <div>
            Adres:
            Dąbrowskiego 85,</br>
            35-001 Rzeszów</br>
            Telefon:
            123 123 123</br>
            Mail:
            stud.prz.edu.pl
        </div>
	</div>

	<div class="footertile1" style="margin-right: 10%">
        <h3>COPYRIGHY</h3>
        <div>
            Karol Wierzbiński</br>
            Paweł Władyka</br>
            Paweł Władyka</br>
            Paweł Władyka</br>
            Paweł Władyka</br>
            Paweł Władyka

        </div>
	</div>

	</nav>