<footer>
    <div class="container-fluid">
      <div class="row ">

        <div class="col-lg-3 col-md-6 footer-h1-col">
            <h1>Thalos <br>Cinema</h1>
        </div>

        <div class="col-lg-3 col-md-6 footer-col">
            <div>
            <h5>Nasze Kina</h5>
            <p>Rzeszów | Kraków | Kraków | Kraków | Kraków | Kraków | Kraków</p>
                </div>
            </div>

        <div class="col-lg-3 col-md-6 footer-col"><div>
            <h5>Kontakt</h5>
            <span>Adres: </span>Dąbrowskiego 85, 35-001 Rzeszów<br>
            <span>Telefon: </span>
            123 123 123<br>
            <span>E-mail</span>
            stud.prz.edu.pl<br></div>
        </div>

        <div class="col-lg-3 col-md-6 footer-col"><div>
            <h5>Copyright </h5>
            <p>Karol Wierzbiński</p>
            <p>Karol Wierzbiński</p>
            <p>Karol Wierzbiński</p>
            <p>Karol Wierzbiński</p>
            <p>Karol Wierzbiński</p></div>
        </div>

      </div>
    </div>
</footer>