{% extends 'website/base.html' %}
{% load static %}

{% block content %}


        <div class="title2">
            <h1>Nocne maratony filmowe</h1>
        </div>


    <div class="cont" style="    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 40px;">

        <div class="image"  style="margin-left: 5%;" >
         <img src="{% static 'images/maratons.png' %}" alt="logo_sample" class="image">
        </div>
                <div class="first_mar" style="margin-left: 10%; margin-right: 15%; text-align: justify">
                    <h4 id="scrollspyHeading1" style="margin-top: 20px">First heading</h4>
                        <p>Mocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
                            Mocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranuMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
                        Mocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słychaMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słychaMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słycha
                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
                            Mocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słychaMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słychaMocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.

                </div>

    </div>

{% endblock %}