{% extends 'website/base.html' %}
{% load static %}

{% block content %}


    {% include 'website/navbar.html' %}


        <div class="title2">
            <h1>Nocne maratony filmowe</h1>
        </div>


    <div class="cont">

        <div class="image"  style="margin-left: 5%;" >
         <img src="{% static 'images/maratons.png' %}" alt="logo_sample" class="image">
        </div>

          <div class="tile" style="width: 10px; background-color: #303030; margin-left: 5%;"></div>

            <div class="mar_list">
                    <h4 class="scrollspyHeading" >Nocny maraton</h4>

                    <div class="prise">
                        <div class="btn" style="width: 25px;">Cena</div>
                        <div>27,70 zł</div>
                    </div>

                        <h3>
                        Nocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków".
                        To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu.
                        </h3>
            </div>
    </div>

    <div style="border: 30px; background-color: #303030; height: 2px; margin: 40px"></div>

    <div class="cont" style="margin-bottom: 50px">

        <div class="image"  style="margin-left: 5%;" >
         <img src="{% static 'images/romantic.png' %}" alt="logo_sample" class="image">
        </div>

          <div class="tile" style="width: 10px; background-color: #303030; margin-left: 5%;"></div>


            <div class="mar_list">
                    <h4 class="scrollspyHeading" >Maraton Romantyczny</h4>

                    <div class="prise">
                        <div class="btn" style="width: 25px;">Cena</div>
                        <div>32,69 zł</div>
                    </div>

                        <h3>
                        Romantyczny Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków".
                        To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
                        Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu.
                        </h3>
            </div>


    </div>

    {% include 'website/footer.html' %}

{% endblock %}