<nav class="navbar">

	<div class="title">
	THALOS CINEMA
	</div>

	<div class = "buttons">
		<a href="{% url 'main_page' %}" class ="butt" type="button">
		REPERTUAR
		<hr style="border: 0.1px; background: yellow; height: 2px;">
		</a>
		<a class ="butt" type="button">
		WYDARZENIA
		</a>
		<a class ="butt" type="button">
		PROMOCJA
		</a>
		<a href="{% url 'schools' %}" class ="butt" type="button">
		SZKOŁY
		</a>
		<a href="{% url 'maratons' %}" class ="butt" type="button">
		MARATONY
		</a>
	</div>

    <button type="button" class="btn btn-warning">Konto</button>

	</nav>