{% with url_name=request.resolver_match.url_name %}
<nav class="navbar-main navbar navbar-expand-lg navbar-dark py-3 px-4 px-lg-5 {% if url_name == 'main_page' %}navbar-main-opacity{% endif %}">
    <h1 class="logo-navbar px-lg-4">THALOS</br>CINEMA</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbars">

            <ul class="navbar-nav text-center justify-content px-lg-4">
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="{% url 'main_page' %}"><span class="nav-link-text {% if url_name == 'main_page' %}nav_active{% endif %}">REPERTUAR</span></a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="{% url 'events_and_promotions' %}"><span class="nav-link-text {% if url_name == 'events_and_promotions' %}nav_active{% endif %}">PROMOCJA</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="{% url 'schools' %}"><span class="nav-link-text {% if url_name == 'schools' %}nav_active{% endif %}">SZKOŁY</span></a>
                </li>
                <li class="nav-item mx-1 pt-2 pt-lg-0" style="max-width: 120px;">
                    <div class="dropdown">
                        <button class="navbar-button mx-auto btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                           {% if user.is_authenticated %}
                                {{user.first_name}}
                                {{user.last_name}}
                           {% else %}
                               KONTO
                           {% endif %}
                        </button>
                        <ul class="dropdown-menu px-5 login-form" aria-labelledby="dropdownMenu2">
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'change_password' %}">Zmień Hasło</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Wyloguj</a>
                            </li>
                            {% else %}
                                <li >
                                    <form action="{% url 'login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Adres email</label>
                                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Hasło</label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <button type="submit" class="navbar-button-account-form navbar-button btn">Zaloguj</button>
                                    </form>
                                </li>
                                    <li>Nie masz konta?  <a href="{% url 'register' %}" style=" letter-spacing: 0;color: black">Zarejestruj się!</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </li>
            </ul>
        {% endwith %}
    </div>
</nav>
