{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div class="marathons-section">
    <h5 class="h-main marathons-section-h">Płatność</h5>
    <div class="marathons-row">
        <div class="marathon-label">
            <div class="marathon-cont">
                <h5 class="d-md-block h-main h-main-title-marathon" >Nocny Mdsdfsdf sdfsat</h5>
                <p class="marathon-price">27,50zł</p><br>
                <p class="marathon-price" style="margin-left: 10px; background: #B6B6B6">21.12</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}}