{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <h1>Schools</h1>

<div class="school-section" >
                <div class="school-cont">
                    <h5 class="h-main school-section-h">Zapraszamy wszystkie grupy  szkolne </h5>
                    <h5 class="h-main school-section-h">na ofertę przygotowaną specjalnie dla nich!</h5>
                </div>

                <div style="text-align: center">
                    <img  style="width: 800px; height: 500px;" src="https://s-trojmiasto.pl/zdj/c/n/9/2479/2507x0/2479003-Festiwal-Kino-Dzieci-to-okazja-aby-zobaczyc-produkcje-glownie-europejskie-stworzone-specjalnie-z-mysla-o-mlodym-widzu.jpg" alt="">
                    <p class="school-desc">
                        Specjalna oferta dla szkół obejmuje grupy dzieci i młodzieży ze szkół podstawowych. Cena biletu grupowego (powyżej 15 osób) wynosi 10 zł za jedną osobę.
                        Oferta ta trwa od września do czerwca i obejmuje wszystkie spektakle z wyjątkiem tych w sobotę i niedzielę.
                    </p>
                </div>
</div>


{% endblock %}