{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="content-container projection-container">
        <h1 class="h-main" style="font-size: 34px; text-align: center;">twoja Rezerwacja</h1>

        <div class="repertoire-movie" style="border:none; margin:0;">
        <div>
            <h5 class="h-main repertoire-h"><p class="h-main" style="margin-top:0;">{{ projection.movie.title }}</p></h5>
            <div class="repertoire-movie-type-icon">
                <button type="submit" class="navbar-button btn hour-info">{{ projection.start_date_time|date:"d.m.y" }}</button>
            </div>
            <div class="repertoire-movie-type-icon">
                <button type="submit" class="navbar-button btn hour-info">{{ projection.start_date_time|time:"H:i" }}</button>
            </div>
            <div class="repertoire-movie-type-icon hour-icon">
                <button type="submit" class="navbar-button btn">SALA: {{ projection.room.number }}</button>
            </div>
            <div class="repertoire-movie-type-icon hour-icon">
                <button type="submit" class="navbar-button btn">MIEJSCE: {{ seat.seat_number }}</button>
            </div>
        </div>
</div>

    <div class="submit-container">
                <a href="?reservation=done">
                    <button type="button" class="navbar-button btn">Zarezerwuj</button>
                </a>
                <a href="?reservation=interrupt">
                    <button type="button" class="navbar-button btn btn-hour">Przerwj rezerwację</button>
                </a>
            </div>
    </div>

{% endblock %}