body
{
    background: white;
}
h1{
        font-family: 'Roboto Slab', serif;
}
.bg-gray
{
    background-color: #303030;
}
.nav_active
{
    position: relative;
}
.nav_active::before
{
    content: "";
    position: absolute;
    left: 5%;
    bottom: -5px;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid yellow;
}
.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: auto;

}

.title
{
margin : 30px;
color: white;
font-family: 'Roboto Slab', serif;
font-size: 200%;

}
a
{
	color: white;
	letter-spacing: 4px;
	text-decoration: none;
}

.buttons
{
display: flex;
flex-direction: row;
align-items: center;
}
.butt
{
	margin: 20px;
}
.btn
{
	display: flex;
	justify-content: center;
	align-items: center;
    margin-right: 100px;
	background: #FFE818;
	min-width: 150px;
}

.cont
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.tile
{
    width: 10px;
    background-color: #303030;
    margin-left: 5%;
}
.mar_list
{
    margin-left: 5%;
    margin-right: 15%;
    text-align: justify;
}
.scrollspyHeading
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.prise
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.footer
{
   display: flex;
   justify-content: space-between;
}
.footertile1
{
    margin-top: 50px;
    color: white;

}