/*Resetowanie ustwaień domyślnych*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-size: 16px;
	position: relative;
	font-family: Roboto, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*navbar*/
.navbar-main
{
	width: 100vw;
    background: #242424;
	z-index: 2;
	position: absolute;

}
.logo-navbar
{
    color:#ffffff;
    font-size: 25px;
	font-family: "Times New Roman";
}
.nav_active
{
    position: relative;
}
.nav_active::before
{
    content: "";
    position: absolute;
    left: 5%;
    bottom: -5px;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid yellow;
}
.nav-link-text
{
    font-family: 'Roboto';
	font-size: 18px;
	letter-spacing: 1px;
}
.nav-link-text:hover
{
	font-weight: bold;
}
.navbar-button
{
	background: #FFE818;
	width: 120px;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: bold;
}
.navbar-nav
{
	justify-content: center;
	align-items: center;
}
.login-form
{
	width: 350px;
	position:absolute!important;
	top: 66px!important;
	left: -230px!important;
	font-family: 'Roboto';
}
.navbar-button-account-form
{
	margin-bottom: 10px;
}
.page-slider {
	z-index: 1;
}
/*slider*/
.slider .slide
{
	height: calc(100vh - 200px);
}
.slider .slide:after
{
	content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to right,rgb(0 0 0 / 30%), rgb(0 0 0 / 0%));
    z-index: 0;
}
.slider .carousel-caption
{
	text-align: left;
	max-width: 600px;
	top: 180px;
	display: block;
}
.slider .carousel-caption h5
{
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 600;
    margin-bottom: 15px;
	font-family: Roboto, sans-serif;
}
.slider .carousel-caption p
{
	font-size: 17px;
	line-height: 1.5;
	font-family: Roboto, sans-serif;
}
.movie-desc-icon
{
	margin-right: 10px;
	margin-top: 15px;
}
/*repertoire*/
.repertoire
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 0px 30px 20px 30px;
}
.repertoire-movie{
	margin: 0 30px;
	display: flex;
	flex-direction: column-reverse;
	border-top: solid 1px #000000;
	padding: 20px 0;
}
.repertoire-days
{
	display: flex;
}
.repertoire-movie-type-icon
{

}
.h-main
{
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin: 30px 0;
	font-weight: 600;
}
.repertoire .buttons
{
	margin-top: 30px;
	align-items: flex-end;
}
.repertoire .btn1
{
	margin-right: 10px;
}
.repertoire .h-main{
}
.repertoire .navbar-button{
	width: auto;
	background: #fff;
	border:solid 1px #333333;
}
.wybierz-kino-button
{
	margin-bottom: 15px;
}
.repertoire-days p
{
	text-transform: uppercase;
	font-size: 30px;
	margin-right: 15px;
	cursor: pointer;
}
.repertoire-days p span
{
	font-size: 35px
}
.repertoire-days p:hover
{
	color: #F4BCBC;
}
.repertoire-movie img
{

	width: 150px;
	height: 240px;
	margin-right: 15px;
}
.repertoire-movie button
{
	width: auto;
	margin-bottom: 10px;
	margin-right: 5px;
}
.hour-info
{
	background: #B6B6B6;
}
.hour-icon button{
	background: #F4BCBC;
}
/*number-navigation*/
div.page-number-navigation
{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
	padding-right: 25px;
	padding-bottom: 15px;
}
div.number-box
{
	display: flex;;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	width: 45px;
	height: 45px;
	border: solid 1px #727272;
	color: #727272;
	margin: 0 5px;
	cursor: pointer;
	transition: 0.5s;
	text-align: center;
}
div.number-box:hover
{
	background: #B6B6B6;
}
.event-section
{
	padding: 0 30px;
}
.event-section .carousel {
	width: 70vw;
	height: auto;
	margin: auto;
}
.premieres-section
{
	padding: 1px 30px 0 30px;
	background: #f8f8f8;
}
div.premieres-images-container
{
	padding: 0 80px;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end
}
div.premieres-image
{
	height: 150px;
	overflow: hidden;
}
div.premieres-image-label
{
	padding: 10px;
}
div.premieres-image-div
{
	width: 270px;
	text-align: center;
	box-shadow: 0px 0px 24px -2px rgba(66, 68, 90, 1);
	cursor: pointer;
	margin: 20px;
}
.premieres-image-div img
{
	width: 270px;
}
.premieres-image-label h5
{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
}
footer
{
	background: #242424;
	color: white;
	padding: 40px 40px;
	margin-top: 125px;
}
footer h5
{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 7px;
}
.footer-h1-col
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Times New Roman', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.footer-col
{
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
footer p
{
	max-width: 200px;
}
@media screen and (max-width: 991px) {
.login-form{
	position: absolute!important;
	width: 100vw;
	top: 52px!important;
	left: 50%!important;
	transform: translateX(-50%);
	border-radius: 0;
}
}
/*brakepoint*/
@media screen and (max-width: 576px) {
	.slide
	{
	height: calc(100vh - 100px);
	}
	.slider .carousel-caption h5{
		font-size: 40px;
	}
	.slider .carousel-caption p{
		font-size: 16px;
	}
}
@media screen and (min-width: 576px) {

}
@media screen and (min-width: 768px) {
	.repertoire .buttons
	{
		margin-top: 98px;
	}
	.repertoire
	{
		flex-direction: row;
		margin: 0 50px 20px;
	}
	.repertoire-movie
	{
		flex-direction: row;
		margin: 0 50px;
	}
	.premieres-section
	{
		padding: 1px 50px 0 50px;
	}
	.event-section
	{
		padding: 0 50px;
	}
	div.page-number-navigation
	{
		padding-right: 50px;
	}
	.footer-col
	{
		text-align: left;
	}
}
@media screen and (min-width: 992px) {
	.main-page-margin
	{
		padding: 30px 100px;
	}
	 .navbar-main
	 {
		 background: #2424248f;
	 }
}
@media screen and (min-width: 1200px) {
	.event-section .carousel
	{
		width: 50vw;
	}
	.navbar-main{
		padding-right: 140px !important;
		padding-left: 140px !important;
	}
	.repertoire
	{
		margin: 0 170px 20px;
	}
	.repertoire-movie
	{
		margin: 0 170px;
	}
	.premieres-section
	{
		padding: 1px 170px 0 170px;
	}
	.event-section
	{
		padding: 0 170px;
	}
	div.page-number-navigation
	{
		padding-right: 165px;
	}
	footer
	{
		padding: 40px 60px;
	}
}
@media screen and (min-width: 1400px) {
	.repertoire
	{
		margin: 0 220px 20px;
	}
	.repertoire-movie
	{
		margin: 0 220px;
	}
	.premieres-section
	{
		padding: 1px 220px 0 220px;
	}
	.event-section
	{
		padding: 0 220px;
	}
	div.page-number-navigation
	{
		padding-right: 215px;
	}
	footer
	{
		padding: 40px 200px;
	}
}
@media screen and (min-width: 2000px) {
	footer
	{
		padding: 40px 400px;
	}
}
