body
{
	background-color: white;
	margin: 0 !important;
	font-family: 'Poiret One', cursive;
}

#container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	width: 100%;
	background-color: white;
	font-size: 70px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 5px;
}

#nav
{
	width: 100%;
	background-color: black;
	padding: 0;
	color: white;
	text-align: center;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a 
{
	color: white;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 185px;
}

ol > li:hover
{
	background-color: #262626;
}

#content
{
	width: 1000px;
	font-size: 30px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#socials
{
	width: 100%;
	text-align: center;
	height: 250px;
	background-color: black;
}

#socialdivs
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	
}

.fb
{
	float:left;
	width: 300px;
	height: 250px;
}

.yt
{
	float:left;
	width: 300px;
	height: 250px;
}

.snap
{
	float:left;
	width: 300px;
	height: 250px;
}

.insta
{
	float:left;
	width: 300px;
	height: 250px;
}

.fb:hover
{
	background-color: #3b5998;
}

.yt:hover
{
	background-color: #bb0000;
}

.snap:hover
{
	background-color: #fffc00;
}

.insta:hover
{
	background-color: #e95950;
}

a.sociallink
{
	display:block;
}

.photoslink
{
	text-decoration: none;
}

.photosimg
{
	float:left;
	width: 290px;
	height: 220px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.photosimg:hover
{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#footer
{
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	
}

